<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
  <title>Autos</title>
  <link rel="stylesheet" href="../Styles/styles4.css">
</head>

<body>

  <div class="container">
    <header>
      <h1>CarVenture</h1>
      <nav>
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="formulariop.html">Personas</a></li>
          <li><a href="formulariot.html">Trabajadores</a></li>
          <li><a href="comprarAuto.html">Autos</a></li>
          <li><a href="registrarAuto.php"></a>Registrar autos</li>
          <li><a href="cargos.html">Cargos</a></li>
          <li><a href="estados.html">Estados</a></li>
          <li><a href="../orden/orden.html">Orden</a></li>
          <li><a href= "../detallesDeOrden/detallesDeOrden.php">Detalles Del Trabajo</a></li>

        </ul>
      </nav>

    </header>

    <h3 class="text1">Pick your favorite color:</h3>
    <div class="color-select">
      <div id="red"></div>
      <div id="blue"></div>
      <div id="black"></div>



    </div>

    <a href="orden.html" class="btn" id="comprar3">Comprar</a>

    <div class="images">
      <img src="../images/arkana_blue_md.jpg" id="imgchange" alt="">
    </div>
  </div>

  <script src="../scripts/script.js"></script>

</body>

</html>
</body>