<!DOCTYPE html>
<html>
<head>
	<title>Estados</title>
    <link rel="stylesheet" href="../Styles/styles2.css">
</head>
<body>
	<form  action="../../Models/indexEstado.php"method="POST">		
		  

        <label for="borrar">Ingrese el ID del estado a eliminar</label>  
		<input type="text" placeholder="ID" name="Id" 
        id="Id" required autofocus title="Id">
         <br>


         
         <div class="btnBorrarCon">

            <input  type="submit" name="borrarEstado"
            class="btnBorrar" value="Borrar">

         </div>

         <div style="display:flex; justify-content: center;">

            <a href="../principal/index.html" style="background-color:  #5f0f68; color: aliceblue; padding-top: 5px; 
             padding-bottom: 5px; padding-left: 5px; padding-right: 5px; text-decoration: none;
             margin-right: 10px; margin-top: 25px; border-radius: 10px;">
            <b>Volver Al inicio</b>
            </a>

        </div>


     

    
</body>
</html>