<!DOCTYPE html>
<html>

<head>
    <title>Estados</title>
    <link rel="stylesheet" href="../Styles/styles2.css">
</head>

<body>


    <form action="../../Models/indexOrden.php" method="POST">


        <label for="Id">ID del orden a modificar</label>
        <input type="text" placeholder="Id" name="Id" id="Id" required autofocus title="Id">
        <br>

        <label for="Fecha">Fecha</label>
        <input type="date" placeholder="Fecha" name="Fecha" id="Fecha" required autofocus title="Fecha">
        <br>

        <label for="Descripcion" style="margin-top: 25px;">Descripcion</label>
        <textarea name="Descripcion" id="Descripcion" cols="37" rows="10" style="margin-bottom: 25px;">

        </textarea>

    
        <br>
    
  

        <br>
        

        <!--<input type="text" placeholder="Campo" name="Campo" id="Campo" required autofocus title="Nombre">
        -->

        
        
        

        <div>

           <input type="submit" class="btn" name="modificarOrden" id="actualizar" value="Modificar"
           style="width: 80px;">

            <a href="../principal/index.html" style="background-color:  #5f0f68; color: aliceblue; padding-top: 5px; 
             padding-bottom: 5px; padding-left: 5px; padding-right: 5px; text-decoration: none;
             margin-right: 10px; margin-top: 25px; border-radius: 10px;">
            <b>Volver Al inicio</b>
            </a>
    
        </div>

       


       


</body>

</html>